In [16]:
from nba_api.stats.endpoints import leagueleaders

LL = leagueleaders.LeagueLeaders()
list_LL = LL.get_data_frames()
LL_df=list_LL[0]

import pandas as pd

# reference used on how to get code >>> Ken Jee

In [17]:
LL_df

,PLAYER_ID,RANK,PLAYER,TEAM,GP,MIN,FGM,FGA,FG_PCT,FG3M,...,REB,AST,STL,BLK,TOV,PF,PTS,EFF,AST_TOV,STL_TOV
0,203081,1,Damian Lillard,POR,14,507,119,270,0.441,52,...,66,94,14,4,43,20,394,372,2.19,0.33
1,203897,2,Zach LaVine,CHI,14,498,130,261,0.498,48,...,67,74,20,8,58,40,383,351,1.28,0.35
2,201939,3,Stephen Curry,GSW,13,449,118,268,0.440,53,...,68,81,16,2,45,29,367,334,1.80,0.36
3,2544,4,LeBron James,LAL,15,483,128,267,0.479,36,...,118,113,12,5,54,20,356,386,2.09,0.22
4,203507,5,Giannis Antetokounmpo,MIL,13,413,129,243,0.531,20,...,132,69,16,14,45,42,353,372,1.53,0.36
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
462,1628390,449,Terrance Ferguson,PHI,5,18,0,3,0.000,0,...,1,1,0,0,1,2,0,-2,1.00,0.00
463,1629033,449,Theo Pinson,NYK,6,16,0,5,0.000,0,...,1,0,0,0,0,2,0,-4,0.00,0.00
464,1628470,449,Torrey Craig,MIL,2,13,0,1,0.000,0,...,4,2,0,1,1,2,0,5,2.00,0.00
465,1630234,449,Ty-Shon Alexander,PHX,3,8,0,3,0.000,0,...,1,1,0,0,0,1,0,-1,0.00,0.00
466,1628427,449,Vlatko Cancar,DEN,5,14,0,3,0.000,0,...,3,0,2,1,2,1,0,1,0.00,1.00

In [18]:
LL_df.describe()

,PLAYER_ID,RANK,GP,MIN,FGM,FGA,FG_PCT,FG3M,FG3A,FG3_PCT,...,REB,AST,STL,BLK,TOV,PF,PTS,EFF,AST_TOV,STL_TOV
count,4.670000e+02,467.000000,467.000000,467.000000,467.000000,467.000000,467.000000,467.000000,467.000000,467.000000,...,467.000000,467.000000,467.000000,467.000000,467.000000,467.000000,467.000000,467.000000,467.000000,467.000000
mean,1.135106e+06,232.556745,9.289079,206.738758,34.922912,75.860814,0.425522,10.982869,30.089936,0.283206,...,38.511777,21.154176,6.661670,4.312634,12.055675,17.226981,95.184154,108.325482,1.710128,0.648094
std,6.817695e+05,133.690945,4.076515,148.606663,32.294355,67.489468,0.151459,12.017857,30.352232,0.178160,...,35.343704,23.871208,5.997235,5.622295,11.695030,12.600322,88.950873,97.027855,1.636979,0.759227
min,2.544000e+03,1.000000,1.000000,1.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,...,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,-4.000000,0.000000,0.000000
25%,2.035005e+05,116.500000,6.000000,64.500000,7.000000,18.000000,0.374500,1.000000,5.000000,0.171500,...,10.000000,4.000000,2.000000,1.000000,3.000000,6.000000,19.500000,26.000000,0.780000,0.220000
50%,1.628372e+06,233.000000,10.000000,198.000000,27.000000,59.000000,0.442000,7.000000,20.000000,0.333000,...,31.000000,13.000000,5.000000,2.000000,9.000000,17.000000,73.000000,94.000000,1.470000,0.480000
75%,1.629632e+06,348.500000,13.000000,336.500000,53.000000,114.500000,0.500000,18.000000,50.000000,0.401500,...,57.000000,29.000000,11.000000,6.000000,17.000000,27.000000,142.500000,164.500000,2.175000,0.830000
max,1.630271e+06,449.000000,15.000000,557.000000,133.000000,273.000000,1.000000,63.000000,147.000000,1.000000,...,191.000000,140.000000,31.000000,50.000000,58.000000,56.000000,394.000000,519.000000,16.000000,8.000000

In [19]:
LL_3pt_shooters =LL_df.loc[(LL_df.FG3_PCT >= 0.32) & (LL_df.FG3A >=30 )]

#turn into a percent

print("average mean for current NBA 3 pt shooters is", LL_3pt_shooters.FG3_PCT.mean())

average mean for current NBA 3 pt shooters is 0.3966322580645161

In [20]:
LL_3pt_shooters.describe()

,PLAYER_ID,RANK,GP,MIN,FGM,FGA,FG_PCT,FG3M,FG3A,FG3_PCT,...,REB,AST,STL,BLK,TOV,PF,PTS,EFF,AST_TOV,STL_TOV
count,1.550000e+02,155.000000,155.000000,155.000000,155.000000,155.000000,155.000000,155.000000,155.000000,155.000000,...,155.000000,155.000000,155.000000,155.000000,155.00000,155.000000,155.000000,155.000000,155.000000,155.000000
mean,8.979450e+05,114.380645,12.167742,333.477419,61.193548,132.864516,0.454929,24.387097,61.703226,0.396632,...,54.161290,36.006452,10.761290,5.541935,19.16129,24.877419,171.451613,181.232258,2.101355,0.748258
std,7.194010e+05,77.503940,2.079021,98.216058,30.295964,60.873840,0.055049,10.388172,25.561785,0.054412,...,29.046645,25.975887,5.819899,5.274588,12.12515,8.700153,84.147304,87.969211,1.434175,0.709154
min,2.544000e+03,1.000000,5.000000,111.000000,15.000000,41.000000,0.300000,10.000000,30.000000,0.320000,...,9.000000,5.000000,0.000000,0.000000,1.00000,6.000000,43.000000,33.000000,0.460000,0.000000
25%,2.027075e+05,48.000000,11.000000,249.000000,38.500000,85.500000,0.421000,16.500000,43.000000,0.354000,...,34.000000,16.000000,7.000000,2.000000,10.50000,19.000000,105.500000,114.000000,1.305000,0.380000
50%,2.039990e+05,103.000000,13.000000,344.000000,53.000000,119.000000,0.453000,23.000000,57.000000,0.387000,...,50.000000,28.000000,11.000000,4.000000,17.00000,23.000000,153.000000,169.000000,1.750000,0.610000
75%,1.628422e+06,174.000000,14.000000,407.000000,81.000000,175.500000,0.493500,29.000000,73.000000,0.431500,...,69.500000,47.500000,14.000000,8.000000,24.00000,29.500000,222.000000,231.500000,2.355000,0.885000
max,1.630267e+06,288.000000,15.000000,557.000000,133.000000,273.000000,0.603000,63.000000,147.000000,0.595000,...,165.000000,140.000000,31.000000,33.000000,58.00000,51.000000,394.000000,519.000000,12.000000,5.670000

In [21]:
LL_df.columns

Index(['PLAYER_ID', 'RANK', 'PLAYER', 'TEAM', 'GP', 'MIN', 'FGM', 'FGA',
       'FG_PCT', 'FG3M', 'FG3A', 'FG3_PCT', 'FTM', 'FTA', 'FT_PCT', 'OREB',
       'DREB', 'REB', 'AST', 'STL', 'BLK', 'TOV', 'PF', 'PTS', 'EFF',
       'AST_TOV', 'STL_TOV'],
      dtype='object')